<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xiaolong.CarSmart"
          android:versionCode="3"
          android:versionName="1.2">
    <uses-sdk android:minSdkVersion="16"/>
    <application android:label="@string/app_name"
                 android:theme="@android:style/Theme.NoTitleBar"
                 android:name=".CarSmartApplication"
                 android:icon="@drawable/ic_launcher">
        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="ymOXF6EbQxNFkFHMi5QYQaht" />

        <activity android:name="MainActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.RegistActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.SearchGoodsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.DetailGoodsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.NewsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.NewsDetailActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.SearchGoodsByCategoryActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MipcaActivityCapture" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineFavourActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.KuaidiActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.OrderMakeActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineAddressAddActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.OrderSuccessActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineOrderActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.ForgetPassOneActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.ForgetPassTwoActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.DaohangActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.SecondCarActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.SecondZuoActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.SuggestActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.DetailWlActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.SearchGoodsByBrandIdActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.PointHistoryActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineZhanghuActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineAddressActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineAddressUpdateActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineResetPwrActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.publishCommentActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.DetailOrderActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.GoBackActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.SelectFapiaoActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.SelectAddressActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.SelectPayMethodActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineCartActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.SelectKuaidiMethodActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>



        <meta-data android:value="561c4d5467e58e47cb004097" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="Wandoujia" android:name="UMENG_CHANNEL"/>
        <service
                android:name="com.umeng.update.net.DownloadingService"
                android:process=":DownloadingService" >
        </service>
        <activity
                android:name="com.umeng.update.UpdateDialogActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!--允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>


    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>


    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="false"
            android:resizeable="true"
            android:smallScreens="true" />
</manifest>
